.CommingSoon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.CommingSoon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Styling for the "Back to Sign Up" button */
.back-to-signup {
    position: absolute;
    bottom: 20px; /* Position the button towards the bottom of the container */
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 24px;
    background-color: #020f1d; /* Button background color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
.back-to-signup:hover {
    background-color: #021b36; /* Darker blue on hover */
}
